{% extends 'Base.html' %}
{% block title %} Загрузить файл {% endblock %}

{% block content %}

<div class="container" align="left">
		<a class='btn btn-primary active' href="/return-files/{{fname2}}" target="blank">
			Получить файл!
		</a>
</div>


{% endblock %}