{% extends 'Base.html' %}
{% block title %} Cabinet {% endblock %}

{% block content %}

аватар

<a href="/">Имя</a>
<a href="/">Фамилия</a>
<a href="/">Пол</a>
дата рождения<a href="/">день</a> <a href="/">месяц</a> <a href="/">год</a>
<a href="/">класс</a>
<a href="/">Интересы</a>

сменить пароль




{% endblock %}