{% extends 'Base.html' %}
{% block title %} Каталог {% endblock %}

{% block content %}


<table class="table" border='1' cellspacing='0' >
 <tr>
     <th>№</th>
     <th>Книга</th>
     <th>Ссылка</th>

 </tr>
{% for item in user_list %}
 <tr>

     <td>{{ item[0] }}</td>
     <td>{{ item[1] }}</td>
     <td>{{ item[2] }}</td>
 </tr>
{% endfor %}
</table>





{% endblock %}
