{% extends 'Base.html' %}
{% block title %} Login {% endblock %}

{% block content1 %}

<div class="container form-group">

    <br>
        <h4>Пожалуйста войдите:</h4>
    </br>
    <form action="http://ptflask.herokuapp.com/login/" class="form-inlane" method="POST">
        <input type="text" class="form-control" placeholder="Логин" name="username" value="{{request.form.username}}" size="1000px">
        <input type="password" class="form-control" placeholder="Пароль" name="password" value="{{request.form.password}}">
        <input style="margin-top:10px" class="btn btn-primary" type="submit" text="Вход">
    </form>
    <a class="btn btn-primary active" style="margin-top:10px" href = "/repair_pass/">Забыли пароль?</a>
    <p>{{error}}</p>
</div>



{% endblock %}
