{% extends 'Base.html' %}
{% block title %} Регистрация {% endblock %}

{% block content1 %}
<div class="container form-group">
    <h4>Registration</h4>
    <br>
    {% from "_formhelprs.html" import render_field %}
    <form method="POST" action="/registration/">
        <dl>
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm)}}
            {{render_field(form.accept)}}

        </dl>
        <p><input class="btn btn-primary" type="submit" value="Регистрация"></p>
    </form>
        {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

</div>
{% endblock %}
