{% extends 'Base.html' %}
{% block title %} Repair_pass_step2 {% endblock %}

{% block content1 %}

<div class="container form-group">

    <br>
        <h4>Введите проверочный код:</h4>
    </br>
    <form action="http://ptflask.herokuapp.com/repair_pass2/" class="form-inlane" method="POST">
        <input type="text" class="form-control" placeholder="username" name="username" value="{{request.form.username}}">
        <input type="text" class="form-control" placeholder="testcode" name="testcode" value="{{request.form.testcode}}">
        <input class="btn btn-primary" type="submit">
    </form>
    <p>{{error}}</p>
</div>





{% endblock %}
