{% extends 'Base.html' %}
{% block title %} Repair_pass_step3 {% endblock %}

{% block content1 %}

<div class="container form-group">

    <br>
        <h4>Укажите новый пароль:</h4>
    </br>
    <form action="http://ptflask.herokuapp.com/repair_pass3/" class="form-inlane" method="POST">
        <input type="password" class="form-control" placeholder="Пароль" name="new_password" value="{{request.form.new_password}}">
        <input type="password" class="form-control" placeholder="Повторите пароль" name="confirm" value="{{request.form.confirm}}">
        <input class="btn btn-primary" type="submit">
    </form>
    <p>{{error}}</p>
</div>





{% endblock %}
